@import "..";

//Fashion news block
.block-views-blockfashion-news-view-block-1 {
  .content__item-bottom-right {
    display: none;
  }

  .attachment-before {
    margin-bottom: unset;

    .views-field-field-category {
      font-family: "Fira Sans", sans-serif;
      font-size: 28px;
      font-weight: 800;
      letter-spacing: 1px;
      line-height: 31px;
    }
  }

  .views-view-grid--horizontal {

    div.views-view-grid__item {
      flex-basis: 100%;

      @include bp-up('desktop') {
        flex-basis: calc(50% - 0.5625rem);
      }
    }

    .views-field-title {
      font-family: "Merriweather", serif;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 800;
    }

    .views-field-uid {
      font-family: "Fira Sans", sans-serif;
      font-size: 12px;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding-right: 10px;
    }

    .views-field-created {
      font-family: "Fira Sans", sans-serif;
      font-size: 12px;
      line-height: 1;
      font-weight: 400;
      letter-spacing: 1px;
      color: $gray;
    }
  }
}

//Technology news block
.block-views-blocktechnology-news-view-block-1 {

  .view-header {
    font-family: "Fira Sans", sans-serif;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 31px;
    margin-bottom: 16px;
  }

  .views-row {
    padding-bottom: 12.5px;
    margin-bottom: 12.5px;
  }

  .technology_inner {
    display: flex;

    .technology_image {
      max-width: 218px;
      width: 100%;
      object-fit: cover;

      @include bp-up('desktop') {
        max-width: 163px;
        width: 100%;
      }
    }

    .technology_body {
      padding: 2px 0 0 14px;

      .views-field-title {
        font-family: "Fira Sans", sans-serif;
        font-size: 16px;
        line-height: 1.1;
        font-weight: 600;

        @include bp-up('desktop') {
          font-size: 20px;
        }
      }

      .views-field-body {
        display: none;

        @include bp-up('desktop') {
          p {
            margin: 4px 0;
            column-count: 1;
            column-gap: 48px;
            font-family: "Merriweather", serif;
            font-size: 14px;
            line-height: 1.5;
            font-weight: 300;
          }
          display: unset;

        }
      }

      .technology_info {
        display: flex;

        .views-field-uid {
          display: none;
          margin-right: 10px;

          @include bp-up('desktop') {
            display: unset;
            letter-spacing: 1px;
          }
        }

        .views-field-created {

        }
      }
    }
  }
}

