@import "..";


//Latest news block

.content__item-left {

  @include bp-up('desktop') {
    max-width: 308px;
    min-width: 168px;

  }

  .view-latest-news-view {
    overflow: visible;

    .view-content {
      margin-bottom: unset;
    }
  }

  .views-field-field-heading-image .field-content {
    margin-left: -1.125rem;
    margin-right: -1.125rem;

    @include bp-up('desktop') {
      margin-left: unset;
      margin-right: unset;
    }
  }

  .view-header {
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-size: 2em;
    color: black;
    margin: 10px 0px;
  }

  .views-row {
    border-bottom: 1px solid $bluish-gray;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &:last-child {
      border-bottom: unset;
    }

    .views-field-created {
      color: $yellow;
      font-family: "Fira Sans", sans-serif;
      font-size: 12px;
      line-height: 1;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 6px 0;

      a {
        text-transform: uppercase;
        margin-right: 1rem;
      }
    }

    .views-field-body {

      p {
        font-family: "Merriweather", serif;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 300;
        display: inline;
        color: $darkgray;
      }
    }

  }
}


