$yellow: #fcb900;
$orange: #f5b000;
$gray: #767676;
$bluish-gray: #abb8c3;
$breakpoints: (
  'desktop': 768px,
) !default;


//@mixin OpenSans-300 {
//  font-family: 'OpenSans',
//    sans-serif;
//  font-weight: 300;
//}

