@import "index";

.wrapper {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;

  .wrapper-content {
    max-width: 1440px;
    margin: 0 auto;
  }

  .container{
    margin: 0 auto;
    color: black;

    .content-inner {
      display: block;

      @include bp-up('desktop') {
        display: flex;
      }
    }
  }
}

.content__item-bottom {
  display: block;
  @include bp-up('desktop') {
    display: flex;
  }

  .region--content-main {
    @include bp-up('desktop') {
      padding: 0 20px;
    }
  }
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: black;
  }
}

.content-inner {

  .view-header {
      font-family: "Fira Sans", sans-serif;
      font-size: 28px;
      font-weight: 800;
      letter-spacing: 1px;
      line-height: 31px;
      margin-bottom: 16px;
  }

  .views-row, .views-view-grid__item {

    .views-field-field-category {
      font-family: "Fira Sans", sans-serif;
      font-weight: 400;
      font-size: 11px;
    }

    .views-field-created {
      font-family: "Fira Sans", sans-serif;
      font-weight: 400;
      color: $gray;
      font-size: 12px;
    }

    .views-field-title {
      font-family: "Merriweather", serif;
      font-weight: 900;
    }

    .views-field-body {
      p {
        font-family: "Merriweather", serif;
        font-weight: 300;
        margin: 0;
        display: inline;
      }
    }

    .views-field-uid {
      font-family: "Fira Sans", sans-serif;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
    }

    &:hover {
      .views-field-title {
        a {
          box-shadow: inset 0 -2px 0 0 $orange;
        }
      }
    }
  }


}






