@import "..";

.wrapper-page {
  width: 100%;
  max-width: 1920px;
}

.header-region {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;

  > .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .header-box {
    width: 100%;
  }

  .header__inner {
    max-width: 1440px;
    padding: 0 24px;
    height: 60px;
    display: flex;
  }
}


.wrapper-content-top {
  width: 100%;
  max-width: 1920px;
}

.wrapper-content {
  max-width: 1440px;
  margin: 0 auto;

  .content-inner {
    display: flex;

    .content__item-left {
      width: 100%;
      height: auto;

      @include bp-up('desktop') {
        max-width: 308px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .content__item-main {
      width: 100%;
      height: auto;
    }

    .content__item-bottom {
      width: 100%;

      .content__item-bottom-center {
        width: 100%;
        height: auto;

        @include bp-up('desktop') {
          max-width: 584px;
          width: 100%;
        }
      }

      .content__item-bottom-right {
        width: 100%;
        height: auto;

        @include bp-up('desktop') {
          max-width: 340px;
          width: 100%;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }

    .content__item-down {
      width: 100%;

      @include bp-up('desktop') {
        max-width: 1440px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .content__editorial {
      width: 100%;

      @include bp-up('desktop') {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .footer__up {
      width: 100%;

      @include bp-up('desktop') {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

.footer-region {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
}

