@import "../global";

.header-region {
  background-image: url("../../img/header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.6;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  .site-branding {
    background-image: none;
    min-height: 35px;
    align-items: center;
    font-family: "Merriweather", serif;
    font-weight: 700;
    
    .site-branding__logo img {
      background: url('../../img/logo.svg')
      no-repeat;
      width: 45px;
      height: 45px;
      padding-left: 45px;
    }

  }

  @include bp-up('desktop') {
    display: flex;

    .primary-nav__menu {
      max-width: 560px;
      font-family: "Fira Sans", sans-serif;
      font-weight: 400;

      .primary-nav__menu-link {
        color: white;
        font-weight: unset;
      }

      .primary-nav__menu-link:hover {
        color: $yellow;
      }

      .primary-nav__menu-link.is-active{
        color: $orange;
      }

      .primary-nav__menu-link-inner::after {
        border-top: none;
      }

      .primary-nav__menu--level-2 {
        border-top: none;
      }

      .primary-nav__menu-link-inner--level-2 {
        color: black;
        &:hover {
          color: $yellow;
        }
      }
    }

    .header__inner {
      align-items: center;
    }

    .site-branding {
      background-image: none;
      min-height: 35px;
      align-items: center;
    }

    .block-views-blocksocial-media-view-block-1 {
      margin-left: auto;
    }

    .view-content .views-view-grid {
      max-width: 95px;
      height: 30px;
      flex-wrap: nowrap;
    }

    .field-content {
      width: 20px;
    }
  }

  .block-search-narrow {
    align-items: center;
    display: flex !important;
    background: transparent;
    margin-right: 10px;
    margin-bottom: 0;
  }

  .js-form-type-search .form-element--type-search {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 0;
    height: 0;
    width: 0;
    padding: unset;
  }

  //@media (min-width: 75rem) {
  //  body:not(.is-always-mobile-nav) .header__inner .block-search-narrow {
  //    display: flex;
  //  }
  //}

}

